@inject APIService Api
@inject StorageService Storage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">H2 Med MAGS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/all-rooms" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> All rooms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/User-Bookings" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> User Bookings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/new-booking" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> New Booking
            </NavLink>
        </div>
        @if (_isAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool _isAdmin;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await IsAdmin();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // Sends the JWT token and checks if the user has the role admin.
    private async Task IsAdmin()
    {
        try
        {
            string? jwtToken = await Storage.GetItemFromStorageAsync("authToken");
            if (string.IsNullOrEmpty(jwtToken))
            {
                Console.WriteLine("No authToken found.");
                _isAdmin = false;
                return;
            }

            if (await Api.IsUserAdmin(jwtToken))
            {
                _isAdmin = true;
                StateHasChanged();
                return;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            _isAdmin = false;
            return;
        }
        
        _isAdmin = false;
    }

}
