<div class="py-5 row" style="background-color: #212529">
    <div class="container">
        <div class="col-4" style="color: white">
            <p><strong>Contact</strong></p>
            <span>email@example.com</span> <br/>
            <span>+45 99 99 99 99</span>
        </div>
    </div>
</div>

<style>
    .row {
        --bs-gutter-x: 0;
    }
</style>