.date {
    padding: 0;
    border: 1px solid white;
    flex: 14 0 0;

    .date-header {
        background-color: lightgray;
        display: flex;
        justify-content: center;
    }

    .date-body {
        height: 80px;
    }

    .first-date {
        border-radius: 5px 0 0 0;
    }

    .last-date {
        border-radius: 0 5px 0 0;
    }
}